.html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-color {
    background: #136a8a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    background: #136a8a;
    margin: 0;
    margin-bottom: 40px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
    margin-top: 3%;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
}


/* ================MENU================== */

#menu li>a {
    font-size: 18px;
    font-weight: bold;
}

#menu form>button {
    font-size: 18px;
    font-weight: bold;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-brand {
    width: 15%;
    height: 7%;
}

ul#nav_item li a {
    position: relative;
    font-weight: bold;
    color: snow;
    margin: 0px 15px;
}

ul#nav_item li a:after {
    position: absolute;
    bottom: 7px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: white;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);
}

ul#nav_item li a:hover:after {
    opacity: 1;
    transform: translateY(15px);
}

.btn-danger {
    background-color: #DB0068;
}


/* ================CONTACT PAGE================== */

.icon {
    font-size: 7rem;
    color: #DB0068;
}

.form-label {
    font-size: 1.2rem;
}

label {
    color: white;
}


/* ================DETAILS PAGE================== */

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 0px;
}

.card h3 {
    text-transform: uppercase;
    color: rgb(177, 177, 177);
    font-size: .8rem;
}

.card p {
    margin-bottom: 0;
    line-height: 1.4rem;
    text-align: justify;
}


/* ================FOOTER================== */

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.3);
}

.social-media a:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

footer P {
    color: #000;
}


/* ================END FOOTER================== */

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 70px 0;
}

.container-category {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10px;
}

.check-container {
    display: flex;
    gap: 30px;
    padding-left: 15px;
}

.card-img-top {
    width: 100%;
    height: 150px;
}

.alto-fila {
    height: 30px;
}

tr {
    border: 1px solid rgb(0, 0, 0);
}

td {
    border: 1px solid black;
}


/*   
    CUSTOM CSS PAGE 1
    */

.card-text {
    height: 130px;
}

ol.carousel-indicators {
    top: 100%;
}

li.list-group-item {
    text-decoration: none;
    cursor: pointer;
}

.icon_detail {
    font-size: xx-large;
}

.icon_view {
    font-size: x-large;
}


/* Details Card */

.card_details {
    height: 100%;
    width: 100%;
    background: center center/cover;
    background-size: center center/cover;
}


/* Carousel Home*/

.img_event1 {
    width: 100%;
    height: 150px;
    background: url("../assets/images/eventos_ejecutivos.jpg") no-repeat center center/cover;
}

.img_event2 {
    width: 100%;
    height: 150px;
    background: url("../assets/images/eventos_para_bodas.jpg") no-repeat center center/cover;
}

.img_event3 {
    width: 100%;
    height: 150px;
    background: url("../assets/images/eventos_musicales.jpg") no-repeat center center/cover;
}

/* PAST AND UPCOMING EVENTS */

.card_events {
    width: 400px;
    border: 1px solid #ccc;
    background-color:white;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1, h2, p {
    margin: 0;
  }
  
  .image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .img-card-container {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .category {
    background-color: #FFB347;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    color: #FFB347;
  }
  
  .capacity {
    font-size: 14px;
    color: #999;
  }
  
  .progress-bar {
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .progress {
    height: 100%;
    background-color: #FFB347;
    border-radius: 5px;
  }
