body {
    overflow-x: hidden;
}


/* ================MENU================== */

#menu li>a {
    font-size: 18px;
    font-weight: bold;
}

#menu form>button {
    font-size: 18px;
    font-weight: bold;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-brand {
    width: 15%;
    height: 7%;
}


/* ================FOOTER================== */

.container {
    margin: 0;
    max-width: 100%;
    padding: 0;
}